<button class="shuffle-button" type="button">Shuffle</button>

<h2>Filters:</h2>
<div class="btn-group">
  <button class="active btn" id="all">Show All</button>
  <button class="btn" id="five">Top 5</button>
  <button class="btn" id="ten">Top 10</button>
  <button class="btn" id="fifteen">Top 15</button>
  </div>
<br>

<div id="grid">
  <%= render "trends/tile" %>
</div>