<!-- <button class="shuffle-button" type="button">Shuffle</button> -->

<div class="btn-group">
  <button class="active filter waves-effect waves-light btn" id="all">Show All</button>
  <button class="filter waves-effect waves-light btn" id="five">Top 5</button>
  <button class="filter waves-effect waves-light btn" id="ten">Top 10</button>
  <button class="filter waves-effect waves-light btn" id="fifteen">Top 15</button>
</div>
<br>

<div id="grid">
  <%= render "trends/tile" %>
</div>