#container {
  width: 100%;
}

#tile-container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20%;
}

#title {
  text-align: center;
}

.tile-image {
  height: 160px;
  width: 160px;
}

.content {
  font-size: 50%;
  text-align: center;
  border-style: solid;
  border-radius: 20%;
  border-color: black;
  float: left;
  width: 200px;
  height: 200px;
}