.content {
  font-size: 50%;
  text-align: center;
  border-style: solid;
  border-radius: 20%;
  border-color: black;
  float: left;
  width: 200px;
  height: 200px;
}

* {
  background-color: white;
}

#container {
  width: 100%;
  /*border-style: solid;*/
  /*border-bottom: thick dotted blue;*/
}

/*#title {
  text-align: center;
}*/

/*#grid {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20%;
}*/

.tile-image {
  height: 180px;
  width: 180px;
}

.trend_name {
  font-size: 175%;
} 

#trend-title {
  padding-left: 2em;
}

.col {
  background-color: white;
}

#embedded_tweet {
 display: block;
 margin: auto;
/* width: 40%;*/
 width: 600px;
 height: 325px;
 overflow: scroll;
 /*float: left;
 padding-left: 8em;
 padding-bottom: 2em;*/
}

/*#tweet-box {
 float: left;
 padding-left: 8em;
 padding-bottom: 2em;
 padding-top: 5em;
}*/

/*#articles {
 width: 600px;
 height: 300px;
 overflow: scroll;
 float: right;
 padding-right: 8em;
 padding-bottom: 2em;
 padding-top: 5em;
}*/

/*#articles {
 width: 600px;
 height: 300px;*/
 /*float: right;
 padding-right: 8em;
 padding-bottom: 2em;
 padding-top: 5em;*/
/*}*/

#news-container {
 display: block;
 margin: auto;
 width: 600px;
 height: 300px;
 overflow: scroll;
}

.btn {
 width: 100%;
}

.modal {
 width: 100em;
 height: 100em;
}

.iframe {
 width: 100%;
 height: 30em;
}

.tweetbox {
  float: right;
}