#title {
  text-align: center;
}

.content {
  text-align: center;
  border-style: solid;
  border-radius: 20%;
  border-color: black;
  float: left;
  width: 200px;
  height: 200px;
/*  padding-left: 10%;
  padding-right: 10%;*/
}

#grid {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}