#title {
  text-align: center;
}

.content {
  font-size: 80%;
  text-align: center;
  border-style: solid;
  border-radius: 20%;
  border-color: black;
  float: left;
  width: 200px;
  height: 200px;
}

#grid {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}