<!DOCTYPE html>
<html>
  <head>
    <title>Current</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="build/react.js"></script>
    <script src="build/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  </head>
    <body>
      <div id="container">
        <h1 id="title"><a href="/">Current</a></h1>
        <%= yield %>
      </div>
    </body>
</html>
