<!DOCTYPE html>
<html>
  <head>
    <title>Current</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="build/react.js"></script> -->
    <!-- <script src="build/react-dom.js"></script>  -->
  </head>
    <body>
      <div id="container">
        <h1 id="title"><a href="/">Current</a></h1>
        <%= yield %>
      </div>
      <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
      <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </body>
</html>
